@model SocialTest.Models.SocialDataViewModel
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>SOCIAL DATA TEST</h1>
</div>

@using (Ajax.BeginForm(
    new AjaxOptions
    {
        HttpMethod = "Post",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "results"
    }))
{
    @Html.AntiForgeryToken()

    <div>
        <h4>Inputs</h4>
        <hr/>
        @Html.ValidationSummary(true, "", new {@class = "text-danger"})
        <div class="form-group row">
            @Html.LabelFor(model => model.Email, new {@class = "col-sm-2 control-label"})
            <div class="col-sm-10">
                @Html.EditorFor(model => model.Email, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.Email, "", new {@class = "text-danger"})
            </div>
        </div>
        <div class="form-group row">
            @Html.Label("Choose Providers", new {@class = "col-sm-2 control-label"})
            <div class="col-sm-10">
                @Html.ListBoxFor(model => model.SelectedProviders, Model.Providers, new {@style="width: 200px"})
            </div>
        </div>

        <div class="form-group row">
            <div class="col-sm-offset-2 col-sm-10">
                <input type="submit" value="Submit" class="btn btn-default"/>
            </div>
        </div>

    </div>

    <hr/>

    <h4>Results</h4>
    <div id="results">
        
    </div>
}